@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background-color: #ffffff;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bc{
  background-color: #07A698;
}
.c{
  color:#07A698 ;
}
.pc{
  color: #162726;
}
.p{
  color: #757978;
  font-size: 14px;
  font-weight: semibold;
  line-height: 2;
  width: 550px;
}